// Override Bootstrap variables here:
@import "variables";
@import "../bootstrap/assets/stylesheets/bootstrap";

// Fontello (optional)
@import "../fonts/fontello/css/fontello.css";

// Page specific files, and or groups of styles:
@import "partials/home.scss";
